body {
    background-color: Gainsboro;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
span {
    float: right;
    vertical-align: bottom;
}

.navbar img {
    margin-right: 5%;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.cards {
    
    display: grid;
    grid-template-areas:
        "szoveg"
        "card"
        "reklam"
        "leiras";
}
svg{
  width: 10%;
  height: 10%;
  filter: invert(18%) sepia(64%) saturate(4808%) hue-rotate(353deg) brightness(97%) contrast(122%);
}
#kosar {
    float: right;
    justify-self: flex-end;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    grid-area: card;
}

.cards p {
    grid-area: leiras;
}

h5{
    grid-area: szoveg;
}

aside {
    grid-area: reklam;
}

@media screen and (min-width: 1280px) {
    .cards {
        display: grid;
        grid-template-areas:
            "szoveg szoveg szoveg"
            "reklam card card"
            "reklam card card"
            "leiras card card";
    }
}

@media screen and (min-width: 768px) {
    .cards {
        display: grid;
        grid-template-areas:
            "szoveg szoveg"
            "reklam card"
            "reklam card"
            "leiras card";
    }
}

