body {
    background-color: Gainsboro;
    text-align: center;
}
.container{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
}
span {
    float: right;
    vertical-align: bottom;
}

.navbar img {
    margin-right: 5%;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}
.card{
    margin: 10px 0 10px 0;
}

svg{
  width: 10%;
  height: 10%;
  filter: invert(18%) sepia(64%) saturate(4808%) hue-rotate(353deg) brightness(97%) contrast(122%);
}
#kosar {
    float: right;
    justify-self: flex-end;
}
.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
#first{
    background-image: url("../img/Reklam/elso.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 300px;
    margin: auto;
    
}
#szoveg{
    color: rgba(255, 255, 255 ,.25);
    text-decoration: none;
}
#masodik{
    background-image: url("../img/Reklam/masodik.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 300px;
    margin: auto;
    
}
