body {
    background-color: Gainsboro;
}
.container{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
}
span {
    float: right;
    vertical-align: bottom;
}

.navbar img {
    margin-right: 5%;
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

.cards {
    
    display: grid;
    grid-template-areas:
        "szoveg"
        "card"
        "reklam"
        "leiras";
}
svg{
  width: 10%;
  height: 10%;
  filter: invert(18%) sepia(64%) saturate(4808%) hue-rotate(353deg) brightness(97%) contrast(122%);
}
#kosar {
    float: right;
    justify-self: flex-end;
}

